<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		<rules>
            <rule name="rule 1e" stopProcessing="true">
                <match url="^Assets/(.*)$"  />
                <action type="Rewrite" url="/ShuxPhp/Assets/{R:1}"  />
            </rule>
			 <rule name="Imported Rule 0" stopProcessing="true">
                <match url="^(.*)$"  ignoreCase="true" />
                <action type="Rewrite" url="/ShuxPhp/index.php?url={R:1}" appendQueryString="true" />
            </rule>

		</rules>
		</rewrite>
    </system.webServer>
</configuration>